a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
}

div.is-invalid {
    border-color:#dc3545;
    border:1px solid #dc3545;
    background-position:right calc(0.375em + 0.1875rem) center;
  }

  .mx-datepicker {
    width: 100% !important;
  }
  .mx-icon-calendar {
    font-style: normal !important;
  }
  .select2-selection { overflow: hidden !important; }
  .select2-container .select2-selection--single .select2-selection__rendered {
      white-space: normal !important;
      word-break: break-all !important;
  }
  /* asset css select2 form */
  .select2-container {
      width: 100% !important;
  }
  
  .select2-container--default .select2-selection--single {
      border-color: #E0E0E0;
      outline: none;
  }
  
  .select2-dropdown {
      border: 1px solid #E0E0E0;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
      font-family: "FontAwesome";
      border: 0px;
      top: 0px;
      height: 1.428rem;
      bottom: 0px;
      line-height: 1.428rem;
      left: 5px;
      margin: auto;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
      content: "ï„‡";
  }
  
  .select2-container--default .select2-search--dropdown .select2-search__field {
      border: 0px;
      outline: none;
  }
  .select2-container--default.select2-container--disabled .select2-selection--single{
      background-color: #e9ecef!important
  }